<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--c:_0第一个参数也可以c:属性名
    c命名空间基于构造方法
    -->
    <bean id="peopleBean" class="ltd.regis.spring6.bean.People" c:_0="erha" c:_1="23" c:gender="true" />

</beans>