<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--
        第一种解决方案：
            use-default-filters="false":让所有ltd.regis.spring6.bean2下的带有声明bean的注解全部失效
    -->
<!--    <context:component-scan base-package="ltd.regis.spring6.bean2" use-default-filters="false">-->
<!--        &lt;!&ndash;只有@Repository被包含进来了，只有它生效&ndash;&gt;-->
<!--        <context:include-filter type="annotation" expression="org.springframework.stereotype.Repository"/>-->
<!--    </context:component-scan>-->

    <!--
        第二种解决方案：
            use-default-filters="true":让所有ltd.regis.spring6.bean2下的带有声明bean的注解全部生效
    -->
    <context:component-scan base-package="ltd.regis.spring6.bean2" use-default-filters="true">
        <!--只有@Repository被排除了，只有它失效-->
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
    </context:component-scan>

</beans>